/*#form{
	position: relative;
	top: 200px;
	left: 500px;
}

h1{
	text-align: center;
}

#artical{
	width:500px;
	height: 300px;
	margin: 0;
	padding: 0;
	border: 1px solid yellow;
}
#head-img{
	width: 150px;
	height:150px;
	margin: 0;
	padding: 0;
	border: 1px solid red;
	position: absolute;
	top: 40px;
	left: -150px;
}
#essay{
	width: 650px;
	margin: 0 auto;
	position: relative;
}

#Cessay{
	margin: 0 auto;
	width: 550px;
}
.blog{
	width: 500px;
	margin: 20px auto;
	border: 1px solid gray;
	background-color: gray;
}
h2{
	margin: 0;
}

a{
	text-decoration: none;
}

.icon{
	text-align: right;
}*/

h1{
	text-align: center;
}

#form{
	position: relative;
	left: 500px;
	top: 100px;
}
.content{
	margin-top: 50px;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.Rside{
	width: 816px;
	height: 500px;
	float: left;
	border: 1px solid red;
}

.Lside{
	float: left;
	width: 298px;
	height: 500px;
	border: 1px solid yellow;
}

.indival{
	float: left;
	width: 298px;
	height: 200px;
	border-bottom: 1px dashed #e9e9e9;
	text-align: center;
	position: relative;
}
.clear::after{
	content:",";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

a{
	text-decoration: none;
}

ul,li{
	list-style-type: none;
}

.blog-unit{
	margin-left: 24px;
	margin-right: 24px;
	border-bottom: 1px dashed #e9e9e9;
	padding-top: 16px;
}

.floatL{
	float: left;
}

.floatR{
	float: right;
}

.top{
	position: relative;
	left: 1000px;
	margin-top: 20px;
}

img{
	width: 100px;
	height: 100px;
}

.BlogName{
	position: absolute;
	top: 110px;
	left: 110px;
}